<div style="text-align:center;width: 300px;margin: 0 auto;">
<h1>Editing Project</h1>
</div>

<%= render 'form', project: @project %>

<div style="text-align:center;width: 300px;margin: 0 auto;">
<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
</div>